Repository ceph/ceph-csi, pull requests merged in 2021-12, with the labels that each got.

#2686 rbd: implement CSI-Addons Identity Service
  internal/csi-addons/rbd/identity.go
  internal/rbd/driver.go
  internal/rbd/driver_test.go
Labels: component/rbd

#2682 rbd: journal based mirroring for point-in-time and crash consistent images
  internal/rbd/replicationcontrollerserver.go
  internal/rbd/replicationcontrollerserver_test.go
Labels: component/rbd

#2684 rbd: check local image state during promote operation
  internal/rbd/errors.go
  internal/rbd/replicationcontrollerserver.go
Labels: component/rbd

#2514 rbd: added RBD features support for krbd
  charts/ceph-csi-rbd/values.yaml
  docs/deploy-rbd.md
  examples/rbd/storageclass.yaml
  internal/rbd/rbd_util.go
  internal/rbd/rbd_util_test.go
Labels: component/rbd

#2691 ci: rename golangci linter github action file to proper name
  .github/workflows/golangci-lint.yaml
Labels: cleanup, component/testing, ci/skip/e2e

#2694 rbd: recreate dummy image with new image features and 1MiB size
  internal/rbd/replicationcontrollerserver.go
Labels: component/rbd, ci/retry/e2e

#2598 e2e: Add testing for erasure coded pools
  e2e/rbd.go
  e2e/utils.go
Labels: component/rbd, component/testing, ci/retry/e2e

#2700 ci: run tests on kubernetes 1.23
  jobs/k8s-e2e-external-storage.yaml
  jobs/mini-e2e.yaml
Labels: component/testing

#2696 e2e: add e2e testcase of new image features
  e2e/rbd.go
  e2e/rbd_helper.go
Labels: component/testing

#2701 cleanup: import k8s.io/mount-utils instead of k8s.io/utils/mount
  internal/util/util.go
Labels: cleanup, ci/retry/e2e

#2704 ci: run tests on kubernetes 1.23 by default
  jobs/k8s-e2e-external-storage.yaml
  jobs/mini-e2e.yaml
Labels: component/testing

#2705 ci: update mergify rules for e2e tests
  .mergify.yml
Labels: Repo activity, component/testing, ci/skip/e2e

#2706 ci: remove kubernetes 1.20 from CI
  jobs/mini-e2e.yaml
Labels: component/testing

#2711 rbd: remove retrieving volumeHandle from PV annotation
  docs/design/proposals/rbd-mirror.md
  internal/controller/persistentvolume/persistentvolume.go
  internal/rbd/rbd_journal.go
  internal/rbd/rbd_util.go
Labels: cleanup, component/rbd

#2717 cleanup: add IsBlockMultiNode() helper
  internal/csi-common/utils.go
  internal/csi-common/utils_test.go
  internal/rbd/controllerserver.go
Labels: cleanup

#2679 doc: add helper function details to the migration design doc
  docs/design/proposals/intree-migrate.md
Labels: component/docs, ready-to-merge, ci/skip/e2e

#2730 revert: remove explicit size setting of cloned volume
  internal/cephfs/controllerserver.go
Labels: component/cephfs, ci/retry/e2e

#2733 rbd: reset dummy image id
  internal/rbd/replicationcontrollerserver.go
Labels: bug, Priority-0, component/rbd, ci/skip/e2e

#2735 ci: strict rule for commit body length
  .commitlintrc.yml
Labels: component/testing, ci/skip/e2e

#2734 helm: Fix missing ClusterRoleBinding for nodeplugin ServiceAccount
  charts/ceph-csi-rbd/templates/nodeplugin-clusterrolebinding.yaml
Labels: component/rbd, component/deployment, ready-to-merge, ci/retry/e2e

#2743 ci: use install.sh from golangci-lint repo
  scripts/Dockerfile.test
Labels: component/testing, ci/skip/e2e, backport-to-release-v3.4

#2741 rbd: enable expand operation for intree volumes
  internal/rbd/controllerserver.go
  internal/rbd/migration.go
  internal/rbd/rbd_util.go
Labels: component/rbd, ci/retry/e2e

#2732 doc: lift supported ceph version for snapshot/clone
  README.md
Labels: component/docs, ci/skip/e2e
