Repository ceph/ceph-csi, pull requests merged in 2021-01, with the labels that each got.

#1812 cephfs: use enum to check resize is supported or not
  internal/cephfs/volume.go
Labels: cleanup, component/cephfs, ready-to-merge

#1825 build: update version to v3.2.1
  README.md
  build.env
  charts/ceph-csi-cephfs/Chart.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/Chart.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
  scripts/minikube.sh
Labels: Repo activity, component/build

#1826 build: use v3.2-canary after v3.2.1 release
  build.env
  charts/ceph-csi-cephfs/Chart.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/Chart.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
  scripts/minikube.sh
Labels: Repo activity, component/build

#1450 rbd: add support for network namespaces (Multus CNI)
  internal/rbd/rbd_attach.go
Labels: component/rbd, enhancement

#1827 rebase: update golang version to v1.15.5
  build.env
Labels: backport-to-release-v3.2, component/build, ready-to-merge, rebase

#1834 Explain why certain image features are missing
  docs/deploy-rbd.md
Labels: component/docs, ready-to-merge

#1836 doc: add more example formats to run e2e tests
  e2e/README.md
Labels: ci/skip/e2e, component/docs, component/testing

#1829 doc: remove redundant word
  examples/csi-config-map-sample.yaml
Labels: ci/skip/e2e, component/docs, ready-to-merge

#1842 deploy, helm: enable secret watch in rbac
  charts/ceph-csi-rbd/templates/provisioner-clusterrole.yaml
  deploy/rbd/kubernetes/csi-provisioner-rbac.yaml
Labels: component/deployment, component/rbd, ready-to-merge

#1843 cleanup: rewrite ifElseChains to switch statements
  internal/rbd/controllerserver.go
Labels: cleanup, ready-to-merge

#1844 rbd: fix issue in ENV variable check
  internal/util/crypto.go
Labels: backport-to-release-v3.2, bug, component/rbd, ready-to-merge
