Repository ceph/ceph-csi, pull requests merged in 2022-07, with the labels that each got.

#3177 Enable host networking for provisioner
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/templates/provisioner-deployment.yaml
  charts/ceph-csi-rbd/values.yaml
Labels: component/deployment, ci/retry/e2e

#3202 nfs: make use of latest sidecars in the deployment
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
Labels: component/deployment, rebase, ci/retry/e2e, component/nfs

#3232 rbd: Use rados namespace when getting clone depth
  internal/rbd/rbd_util.go
Labels: component/rbd, ci/retry/e2e

#3204 cephfs: go with default permissions while creating subvolumes
  charts/ceph-csi-cephfs/templates/csidriver-crd.yaml
  deploy/cephfs/kubernetes/csidriver.yaml
  internal/cephfs/core/volume.go
Labels: component/cephfs, ci/retry/e2e

#3241 cephfs: round to cephfs size to multiple of 4Mib
  internal/cephfs/controllerserver.go
  internal/util/util.go
  internal/util/util_test.go
Labels: component/cephfs, ci/retry/e2e

#3233 cephfs: Support mount option on nodeplugin
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-cephfs/values.yaml
  cmd/cephcsi.go
  docs/deploy-cephfs.md
  internal/cephfs/driver.go
  internal/cephfs/nodeserver.go
  internal/util/util.go
Labels: enhancement, component/cephfs, ci/retry/e2e

#3253 build: resolve a fixme and disable tcmu repo
  deploy/cephcsi/image/Dockerfile
Labels: bug, component/build, ci/skip/e2e, ci/retry/e2e, backport-to-release-v3.6, ci/skip/multi-arch-build

#3247 cleanup: create k8s.io/mount-utils Mounter only once
  internal/cephfs/fuserecovery.go
  internal/cephfs/nodeserver.go
  internal/csi-common/nodeserver-default.go
  internal/csi-common/utils.go
  internal/csi-common/utils_test.go
  internal/rbd/driver/driver.go
  internal/rbd/nodeserver.go
  internal/util/util.go
Labels: cleanup, ci/retry/e2e

#3255 ci: run e2e on Kubernetes v1.24 by default
  jobs/k8s-e2e-external-storage.yaml
  jobs/mini-e2e.yaml
Labels: component/testing

#3256 ci: update mergify rules for kubernetes 1.24
  .mergify.yml
Labels: Repo activity, component/testing, ci/skip/e2e

#3260 ci: mirror the ceph/ceph:v17.2.1 image as ceph/ceph:v17
  mirror/images.txt
Labels: component/testing, ready-to-merge

#3266 ci: verify that Ceph Mgr is running
  scripts/rook.sh
Labels: component/testing, ci/skip/e2e

#3269 rbd: remove checkHealthyPrimary check
  internal/rbd/errors.go
  internal/rbd/replicationcontrollerserver.go
  internal/rbd/replicationcontrollerserver_test.go
Labels: bug, component/rbd, ci/skip/e2e, backport-to-release-v3.6

#3264 deploy: introduce new log level for sidecar controllers
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/templates/provisioner-deployment.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
Labels: component/deployment, logging, ci/retry/e2e

#3267 ci: retry command in Pod on "unable to upgrade connection" error
  e2e/errors.go
  e2e/pod.go
Labels: component/testing, ci/retry/e2e
