Repository ceph/ceph-csi, pull requests merged in 2022-04, with the labels that each got.

#2980 deploy: add deployment artifacts for NFS support
  api/deploy/kubernetes/nfs/csi-config-map.go
  api/deploy/kubernetes/nfs/csi-config-map.yaml
  api/deploy/kubernetes/nfs/csi-config-map_test.go
  deploy/Makefile
  deploy/nfs/kubernetes/csi-config-map.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/nfs/kubernetes/csi-nodeplugin-psp.yaml
  deploy/nfs/kubernetes/csi-nodeplugin-rbac.yaml
  deploy/nfs/kubernetes/csi-provisioner-psp.yaml
  deploy/nfs/kubernetes/csi-provisioner-rbac.yaml
  tools/yamlgen/main.go
  vendor/github.com/ceph/ceph-csi/api/deploy/kubernetes/nfs/csi-config-map.go
  vendor/github.com/ceph/ceph-csi/api/deploy/kubernetes/nfs/csi-config-map.yaml
Labels: component/deployment, ci/skip/e2e, component/nfs

#2984 rbd: check for cookie support from kernel
  internal/rbd/rbd_attach.go
Labels: component/rbd

#2986 build: ignore generated go-tags file
  .gitignore
Labels: component/build, ci/skip/e2e

#2987 doc: update documentation for release 3.6.0
  README.md
  docs/ceph-csi-upgrade.md
Labels: component/docs, ci/skip/e2e

#2944 build: consume quincy release of Ceph
  build.env
Labels: Priority-0, rebase, component/build, ci/retry/e2e

#2996 doc: move release 3.4.0 to unsupported version
  README.md
Labels: component/docs, ci/skip/e2e

#2998 ci: add mergify rule for release 3.6 backport
  .mergify.yml
Labels: Repo activity, component/testing, ci/skip/e2e

#2983 util: add support to run commands with nsenter
  charts/ceph-csi-cephfs/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  examples/README.md
  examples/csi-config-map-sample.yaml
  internal/cephfs/mounter/fuse.go
  internal/cephfs/mounter/kernel.go
  internal/cephfs/nodeserver.go
  internal/cephfs/store/volumeoptions.go
  internal/rbd/nodeserver.go
  internal/rbd/rbd_attach.go
  internal/rbd/rbd_util.go
  internal/util/cephcmds.go
  internal/util/csiconfig.go
  internal/util/csiconfig_test.go
Labels: enhancement, component/cephfs, component/rbd, reliability, component/util, backport-to-release-v3.6

#3010 doc: correct typos in struct field comments and release.md
  docs/development-guide.md
  docs/metrics.md
  docs/releases.md
  internal/util/util.go
Labels: component/docs, ci/skip/e2e

#3012 rbd: check nbd tool features only for rbd driver
  internal/rbd/driver/driver.go
  internal/rbd/rbd_attach.go
Labels: component/rbd, ci/retry/e2e

#3017 Minor corrections in the upgrade release number and readme
  e2e/README.md
  e2e/e2e_test.go
Labels: ci/skip/e2e

#3014 e2e: remove the release check in clone test validation
  e2e/upgrade-cephfs.go
  e2e/upgrade-rbd.go
Labels: component/testing, ci/retry/e2e

#3008 rbd: consider remote image health for primary
  internal/rbd/replicationcontrollerserver.go
Labels: component/rbd, ci/skip/e2e, backport-to-release-v3.6

#3021 nfs: add provisioner & plugin sa to scc.yaml
  api/deploy/ocp/scc.yaml
  deploy/scc.yaml
  vendor/github.com/ceph/ceph-csi/api/deploy/ocp/scc.yaml
Labels: ci/skip/e2e, component/nfs

#3015 e2e: remove claimRef after deleting the PVC
  e2e/rbd.go
Labels: component/testing, ci/retry/e2e

#3011 rbd: use leases for leader election
  internal/controller/controller.go
Labels: component/rbd, ci/retry/e2e, backport-to-release-v3.6

#3028 deploy: use k8s.gcr.io registry for the NFS-nodeplugin
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
Labels: ci/skip/e2e, component/nfs

#3034 util: fix logging in ExecuteCommandWithNSEnter
  internal/util/cephcmds.go
Labels: bug, component/util, ci/skip/e2e

#3037 nfs: return gRPC status from CephFS CreateVolume failure
  internal/nfs/controller/controllerserver.go
Labels: bug, ci/skip/e2e, component/nfs, backport-to-release-v3.6

#3051 ci: use `requeue` instead of `refresh` for re-adding PRs to the queue
  actions/retest/main.go
Labels: component/testing, ci/skip/e2e

#3043 e2e: Add early return in Context() for disabled tests
  e2e/cephfs.go
  e2e/rbd.go
  e2e/upgrade-cephfs.go
  e2e/upgrade-rbd.go
Labels: component/testing, ci/retry/e2e

#3050 Update HELM to latest avaliable version
  build.env
Labels: component/deployment, rebase, component/testing, ci/retry/e2e

#3055 Update doc 3.6.1 release
  README.md
  docs/ceph-csi-upgrade.md
Labels: component/docs, ci/skip/e2e, backport-to-release-v3.6

#3059 doc: add new hackmd link for meeting minutes
  README.md
Labels: component/docs, ci/skip/e2e

#3020 doc: add Open Source Security Foundation (OpenSSF) best practices badge
  README.md
Labels: component/docs, ci/skip/e2e

#3052 ci: improve logging for `kubectl_retry` helper
  scripts/utils.sh
Labels: component/testing, ci/retry/e2e, backport-to-release-v3.6

#3068 nfs: remove node plugin RBAC for NFS provisioner
  deploy/nfs/kubernetes/csi-nodeplugin-rbac.yaml
Labels: ci/retry/e2e, component/nfs
