Repository ceph/ceph-csi, pull requests merged in 2023-09, with the labels that each got.

#4097 rbd: discard not found error from GetMetadata
  internal/csi-addons/rbd/replication.go
Labels: component/rbd, ci/skip/e2e

#4096 doc: Update cephcsi.go
  charts/ceph-csi-cephfs/README.md
  cmd/cephcsi.go
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4099 fixed csi-rbdplugin crashes when decoding volume ID(CSI identifier) failed
  internal/rbd/controllerserver.go
Labels: bug, component/rbd

#4110 doc: adding empty storageClassName in static pvc
  docs/static-pvc.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4089 doc: add design doc for RBD QoS
  docs/design/proposals/rbd-qos.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4123 doc: Remove unwanted steps/details from upgrade doc
  docs/ceph-csi-upgrade.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4124 doc: remove storageclass details for shallow volume
  docs/cephfs-snapshot-backed-volumes.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4119 doc:add reference to CSI snapshot deployment guide
  docs/deploy-cephfs.md
  docs/deploy-rbd.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4133 doc: remove unwanted steps from upgrade
  docs/ceph-csi-upgrade.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4132 deploy: update CSI sidecars to latest versions available
  build.env
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
Labels: rebase

#4152 rbd: update snap RbdImageName
  internal/rbd/controllerserver.go
Labels: component/rbd
