Repository ceph/ceph-csi, pull requests merged in 2023-07, with the labels that each got.

#3959 build: disable ceph-iscsi repository
  deploy/cephcsi/image/Dockerfile
Labels: component/build, ci/skip/e2e

#3958 rbd: do not try to run `resizefs` on an encrypted BlockMode volume
  internal/rbd/nodeserver.go
Labels: bug, component/rbd, ci/retry/e2e, backport-to-release-v3.9

#3961 ci: fix trigger command for `ci/centos/mini-e2e-helm` jobs
  jobs/mini-e2e.yaml
Labels: bug, component/deployment, component/testing, ready-to-merge

#3957 doc: remove `/retest all` command for Jenkins jobs
  .github/pull_request_template.md
  docs/development-guide.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#3975 doc: Update/remove broken links
  README.md
  deploy/README.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#3970 e2e: add test for validation of fuseMountOptions and kernelMountOptions
  e2e/cephfs.go
Labels: component/testing

#3895 nfs: add support for `clients` in the StorageClass
  e2e/nfs.go
  e2e/utils.go
  examples/nfs/storageclass.yaml
  internal/nfs/controller/volume.go
Labels: component/nfs

#3985 rbd: do not execute rbd sparsify when volume is in use
  internal/csi-addons/rbd/reclaimspace.go
  internal/rbd/diskusage.go
  internal/rbd/errors.go
Labels: component/rbd, backport-to-release-v3.8, backport-to-release-v3.9

#3994 ci: Update csi_upgrade_version
  jobs/upgrade-tests.yaml
Labels: component/testing

#3993 deploy: Update provisioner image repository
  charts/ceph-csi-rbd/values.yaml
Labels: component/deployment, backport-to-release-v3.9

#3995 e2e: Fixing the TODO in createCephfsStorageClass
  e2e/cephfs_helper.go
Labels: component/testing, ci/retry/e2e

#4004 rebase: update minikube to v1.31.0
  build.env
Labels: rebase, ci/skip/multi-arch-build

#4007 ci: override csi_upgrade_version from build.env
  upgrade-tests.groovy
Labels: component/testing

#4008 ci: add CSI_UPGRADE_VERSION var to build.env
  build.env
Labels: component/testing, ci/skip/multi-arch-build

#4006 doc: update documentation for v3.8.1 release
  README.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4010 doc: adding empty storageClassName in static pvc
  docs/static-pvc.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build
