Repository ceph/ceph-csi, pull requests merged in 2024-10, with the labels that each got.

#4879 ci: use private retest github action
  .github/workflows/retest.yaml
Labels: component/testing, ci/skip/e2e, ci/skip/multi-arch-build

#4883 rbd: consider ErrPermissionDenied for vol
  internal/rbd/rbd_util.go
  internal/rbd/rbd_util_test.go
Labels: component/rbd

#4884 rbd: validate IOContext before getting the list of trashed images
  internal/rbd/controllerserver.go
  internal/rbd/rbd_util.go
Labels: component/rbd

#4897 ci: fix Dockerfile path for snyk container action
  .github/workflows/snyk-container-image.yaml
Labels: bug, component/testing, ci/skip/e2e, ci/skip/multi-arch-build

#4903 cleanup: use `err` and `target` in recommended order to `errors.Is()`
  internal/rbd/group/volume_group.go
Labels: cleanup, ci/skip/e2e

#4904 journal: only destroy the connection if it is set
  internal/journal/volumegroupjournal.go
Labels: component/journal

#4901 doc: add VolumeGroupSnapshot examples for RBD
  examples/rbd/groupsnapshot.yaml
  examples/rbd/groupsnapshotclass.yaml
  examples/rbd/pvc.yaml
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4908 helm: Support setting annotations for nodePlugin and provisioner
  .pre-commit-config.yaml
  PendingReleaseNotes.md
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-rbd/templates/provisioner-deployment.yaml
  charts/ceph-csi-rbd/values.yaml
Labels: component/deployment, ci/skip/multi-arch-build

#4911 build: no need to use the CentOS 8 archived repositories on CentOS 9
  deploy/cephcsi/image/Dockerfile
  scripts/Dockerfile.devel
Labels: component/build, ci/skip/e2e

#4907 doc: resturcture the doc folder
  deploy/cephfs/kubernetes/cephfs.md
  deploy/rbd/kubernetes/rbd.md
  docs/cephfs/deploy.md
  docs/csi-addons/disaster-recovery.md
  docs/design/proposals/ceph-mount-corruption.md
  docs/design/proposals/cephfs-snapshot-backed-volumes.md
  docs/design/proposals/rbd-nbd.md
  docs/rbd/deploy.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build
