Repository ceph/ceph-csi, pull requests merged in 2024-06, with the labels that each got.

#4670 doc: reset PendingReleaseNotes.md to v3.12.0
  PendingReleaseNotes.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4664 deploy: configurable podSecurityContexts in ceph-csi-cephfs chart
  PendingReleaseNotes.md
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml
  charts/ceph-csi-cephfs/values.yaml
Labels: component/deployment

#4668 deploy: configurable podSecurityContexts in ceph-csi-rbd
  PendingReleaseNotes.md
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-rbd/templates/provisioner-deployment.yaml
  charts/ceph-csi-rbd/values.yaml
Labels: component/deployment

#4671 rbd: use internal as default error code in getGRPCError()
  internal/csi-addons/rbd/replication.go
  internal/csi-addons/rbd/replication_test.go
  internal/rbd/errors.go
  internal/rbd/replication.go
Labels: component/rbd, ci/skip/e2e

#4678 rbd: add support for flattenMode option for replication
  internal/csi-addons/rbd/replication.go
  internal/csi-addons/rbd/replication_test.go
  internal/rbd/controllerserver.go
  internal/rbd/mirror.go
  internal/rbd/rbd_util.go
Labels: component/rbd
