Repository ceph/ceph-csi, pull requests merged in 2024-12, with the labels that each got.

#4991 build: refactor dockerfile to simplify selinux config directory creation
  deploy/cephcsi/image/Dockerfile
  scripts/Dockerfile.devel
  scripts/Dockerfile.test
Labels: component/build

#5001 rbd: return group not found error for Get,Delete RPC calls
  internal/csi-addons/rbd/volumegroup.go
  internal/rbd/group/util.go
  internal/rbd/group/volume_group.go
Labels: component/rbd

#4997 doc: guide for static PVC creation
  docs/static-pvc.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build
