Repository ceph/ceph-csi, pull requests merged in 2024-09, with the labels that each got.

#4814 cephfs: add examples for volumegroupsnapshot
  examples/cephfs/groupsnapshot.yaml
  examples/cephfs/groupsnapshotclass.yaml
Labels: component/cephfs, ci/skip/e2e, ci/skip/multi-arch-build, ok-to-test

#4817 helm: remove kube version check
  charts/ceph-csi-cephfs/templates/csidriver-crd.yaml
  charts/ceph-csi-rbd/templates/csidriver-crd.yaml
Labels: component/deployment, ci/skip/multi-arch-build, backport-to-release-v3.12

#4823 revert: prepare for 3.12.2 release
  build.env
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
Labels: ready-to-merge

#4815 cephfs: Fix Removal of IPs from blocklist
  internal/csi-addons/cephfs/network_fence.go
  internal/csi-addons/networkfence/fencing.go
  internal/csi-addons/networkfence/fencing_test.go
Labels: component/cephfs

#4368 ci: make minikube.sh work on macOS M1 with the qemu2 driver
  scripts/minikube.sh
Labels: component/testing, keepalive

#4832 rbd: fail DisableVolumeReplication() if image is not mirror disabled
  internal/rbd/replication.go
Labels: component/rbd, ci/skip/e2e, ci/skip/multi-arch-build

#4835 ci: update path for kubernetes-test-linux
  run-k8s-external-storage-e2e.sh
Labels: component/testing

#4833 rbd: rename `setImageOptions()` to `constructImageOptions()`
  internal/rbd/rbd_util.go
Labels: cleanup, component/rbd

#4834 ci: update to Minikube v1.34.0
  build.env
Labels: component/testing

#4846 doc: remove contacts from Readme
  README.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4841 rbd: prevent panic when using rbdImage that is not connected
  internal/rbd/rbd_util.go
Labels: component/rbd, ci/skip/e2e, ci/skip/multi-arch-build

#4850 ci: Harden GitHub Actions
  .github/workflows/auto-assign.yaml
  .github/workflows/build-multi-stage.yaml
  .github/workflows/codespell.yaml
  .github/workflows/commitlint.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/go-test.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/lint-extras.yaml
  .github/workflows/mergify-copy-labels.yaml
  .github/workflows/mod-check.yaml
  .github/workflows/publish-artifacts.yaml
  .github/workflows/pull-request-commentor.yaml
  .github/workflows/retest.yaml
  .github/workflows/snyk-container-image.yaml
  .github/workflows/snyk.yaml
  .github/workflows/stale.yaml
  .github/workflows/test-retest-action.yaml
  .github/workflows/tickgit.yaml
Labels: component/testing, ci/skip/e2e, ci/skip/multi-arch-build

#4854 doc: reset PendingReleaseNotes.md
  PendingReleaseNotes.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4858 cephfs: return correct error message
  internal/cephfs/controllerserver.go
Labels: component/cephfs

#4870 rbd: prevent re-use of destroyed resources
  internal/rbd/rbd_util.go
Labels: component/rbd

#4872 rbd: replace Manager.DeleteVolumeGroup() by VolumeGroup.Delete()
  internal/csi-addons/rbd/volumegroup.go
  internal/rbd/group/util.go
  internal/rbd/group/volume_group.go
  internal/rbd/manager.go
  internal/rbd/types/manager.go
Labels: component/rbd

#4873 doc: add cephfs vsg to readme
  README.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4871 rbd: move repairImageID() from rbdVolume struct to rbdImage
  internal/rbd/rbd_journal.go
  internal/rbd/rbd_util.go
Labels: component/rbd

#4874 e2e: enable more k8s storage tests
  scripts/k8s-storage/driver-rbd-rwo.yaml
  scripts/k8s-storage/volumesnapshotclass-rbd.yaml.in
Labels: component/testing, ci/skip/multi-arch-build
