Repository ceph/ceph-csi, pull requests merged in 2024-11, with the labels that each got.

#4934 e2e: enhance volumegroupsnapshot test
  e2e/volumegroupsnapshot_base.go
Labels: component/testing

#4912 rbd: Add timeout for cryptsetup commands
  internal/rbd/encryption.go
  internal/util/cephcmds.go
  internal/util/crypto.go
  internal/util/cryptsetup/cryptsetup.go
  internal/util/stripsecrets/stripsecrets.go
Labels: component/rbd

#4946 rbd: cleanup inconsistent state in `reserveSnap()` after a failure
  internal/rbd/rbd_journal.go
Labels: component/rbd

#4958 doc: fixed broken links
  README.md
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/values.yaml
  docs/resource-cleanup.md
  docs/snap-clone.md
  examples/rbd/storageclass.yaml
Labels: bug, component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4960 Fixes related to flatten operation in PVC restored from snapshot
  internal/rbd/controllerserver.go
Labels: component/rbd

#4918 cephfs: Log clone progress during a clone operation
  internal/cephfs/core/clone.go
  internal/cephfs/core/clone_test.go
  internal/cephfs/core/volume.go
  internal/cephfs/store/fsjournal.go
Labels: component/cephfs

#4938 rbd: added rbd info to validateRBDImageCount func
  e2e/rbd.go
  e2e/rbd_helper.go
Labels: component/rbd

#4975 ci: prepare for 3.12.3 release
  README.md
  build.env
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
  docs/ceph-csi-upgrade.md
Labels: component/testing, ready-to-merge

#4976 revert: prepare for 3.12.3 release
  build.env
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
Labels: ready-to-merge

#4986 cephfs: remove extraneous creation of credentials
  internal/cephfs/controllerserver.go
Labels: cleanup, component/cephfs

#4990 ci: increase e2e run timeout with 30 minutes
  mini-e2e-helm.groovy
  mini-e2e.groovy
Labels: component/testing
