Repository ceph/ceph-csi, pull requests merged in 2024-07, with the labels that each got.

#4666 helm: add cli argument instanceid
  PendingReleaseNotes.md
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-cephfs/templates/provisioner-deployment.yaml
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/templates/nodeplugin-daemonset.yaml
  charts/ceph-csi-rbd/templates/provisioner-deployment.yaml
  charts/ceph-csi-rbd/values.yaml
Labels: component/deployment

#4697 Set object lock for volumes for cephfs encryption
  internal/cephfs/nodeserver.go
Labels: component/cephfs

#4710 util: exclude empty label values for crushlocation map
  internal/util/crushlocation.go
  internal/util/crushlocation_test.go
Labels: bug, backport-to-release-v3.11

#4718 helm: fix typo in document
  charts/ceph-csi-rbd/README.md
Labels: bug, component/deployment, ci/skip/e2e, ci/skip/multi-arch-build

#4721 doc: update coding guideline to suggest to place local imports last
  docs/coding.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4725 cephfs: Avoid hanging lock in volume mutex lock
  internal/cephfs/nodeserver.go
Labels: component/cephfs

#4729 rbd: add VolumeGroup.ModifyVolumeGroupMembership CSI-Addons operation
  internal/csi-addons/rbd/identity.go
  internal/csi-addons/rbd/volumegroup.go
Labels: component/rbd, ci/skip/e2e

#4730 rbd: make CreateVolumeGroup more idempotent
  internal/rbd/manager.go
Labels: component/rbd, ci/skip/e2e

#4731 cephfs: correct the id for cephfs locks
  internal/cephfs/nodeserver.go
Labels: component/cephfs

#4733 rbd: implement CSI-Addons ControllerGetVolumeGroup operation
  internal/csi-addons/rbd/identity.go
  internal/csi-addons/rbd/volumegroup.go
Labels: component/rbd, ci/skip/e2e

#4737 doc: add release note for flattenMode option
  PendingReleaseNotes.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#4738 ci: use quay.io for ceph image
  containerized-tests.groovy
  k8s-e2e-external-storage.groovy
  mini-e2e-helm.groovy
  mini-e2e.groovy
  upgrade-tests.groovy
Labels: component/testing

#4744 doc: inform users that the OS in the container-image is updated
  PendingReleaseNotes.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build
