Repository ceph/ceph-csi, pull requests merged in 2025-07, with the labels that each got.

#5403 rbd: add steps to enable librbd logs
  deploy/ceph-conf.yaml
  docs/rbd/deploy.md
Labels: component/rbd, ci/skip/e2e, ci/skip/multi-arch-build

#5397 doc: add design for NVMe-oF access to RBD-images
  docs/design/proposals/nvme-of.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#5411 rbd: add additional logging details for stream server
  internal/csi-common/server.go
  internal/csi-common/utils.go
Labels: component/rbd

#5409 doc: design doc for non-graceful node shutdown
  docs/design/proposals/non-graceful-node-shutdown.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#5422 doc: clarifiy NVMe-oF design a little more
  docs/design/proposals/nvme-of.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#5434 doc: changes for 3.14.2 release
  README.md
  docs/ceph-csi-upgrade.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build, backport-to-release-v3.14

#5425 doc: design doc for userID mapping metadata
  docs/design/proposals/userID-mapping.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#5446 rbd: add check before calling Destroy
  internal/rbd/nodeserver.go
Labels: component/rbd, backport-to-release-v3.14
