Repository ceph/ceph-csi, pull requests merged in 2025-01, with the labels that each got.

#5050 ci: update mergify rules for K8s v1.32
  .github/workflows/pull-request-commentor.yaml
  .mergify.yml
Labels: Repo activity, component/testing, ci/skip/e2e, ci/skip/multi-arch-build

#5057 ci: add Kubernetes 1.32 to the available versions
  jobs/k8s-e2e-external-storage.yaml
  jobs/mini-e2e.yaml
Labels: component/testing, ready-to-merge

#5078 rbd: add check to getVolumeReplicationInfo
  internal/csi-addons/rbd/replication.go
Labels: component/rbd, backport-to-release-v3.13

#5079 rbd: add context in reported errors by GetVolumeReplicationInfo
  internal/csi-addons/rbd/replication.go
Labels: cleanup, component/rbd

#5072 doc: Add hint that the userID must not include the `client.` prefix
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/values.yaml
  examples/cephfs/secret.yaml
  examples/rbd/secret.yaml
Labels: bug, component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#5085 ci: run upgrade tests with Kubernetes 1.28
  jobs/upgrade-tests.yaml
Labels: Priority-0, component/testing, ready-to-merge

#5083 ci: update minikube to v1.35.0
  build.env
Labels: component/testing

#5087 rbd: correct default encryption type
  internal/rbd/rbd_journal.go
Labels: bug, component/rbd, backport-to-release-v3.13

#5088 rebase: update Kubernetes CSI sidecars to current versions
  build.env
  charts/ceph-csi-cephfs/README.md
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/README.md
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
Labels: rebase

#4905 doc: update doc for disaster recovery
  docs/csi-addons/disaster-recovery.md
Labels: component/docs, ci/skip/e2e, ci/skip/multi-arch-build

#5099 rbd: use correct radosNamespace
  internal/rbd/rbd_journal.go
Labels: component/rbd, backport-to-release-v3.13

#4996 rbd: Use assume_storage_prezeroed when formatting
  internal/rbd/nodeserver.go
  internal/util/file/file.go
  internal/util/file/file_test.go
Labels: component/rbd

#5049 util: enhance tracevol.py script to work with volumesnapshots
  troubleshooting/tools/tracevol.py
Labels: ci/skip/e2e, ci/skip/multi-arch-build

#5116 rbd: log formatting and go-ceph deprecation in `constructImageOptions`
  internal/rbd/rbd_util.go
Labels: component/rbd
