Repository ceph/ceph-csi, pull requests merged in 2025-08, with the labels that each got.

#5451 fix: Tracevol now correctly parses hexadecimal pool id
  troubleshooting/tools/tracevol.py
Labels: bug, ci/skip/e2e, ci/skip/multi-arch-build

#5481 build: use Go 1.24.2
  build.env
Labels: component/build, ci/skip/e2e

#5479 rbd: fix expand rbd qos volume invaild
  internal/rbd/controllerserver.go
Labels: bug, component/rbd

#5480 rbd: support read/write mix qos limit option for rbdVol
  PendingReleaseNotes.md
  docs/rbd/deploy.md
  examples/rbd/storageclass.yaml
  internal/rbd/qos.go
  internal/rbd/qos_test.go
Labels: component/rbd

#5488 rbd: adjust qos parameters start with small case
  docs/rbd/deploy.md
  e2e/rbd.go
  examples/rbd/storageclass.yaml
  internal/rbd/qos.go
  internal/rbd/qos_test.go
Labels: component/rbd

#5508 build: prepare for v3.15.0
  build.env
  charts/ceph-csi-cephfs/values.yaml
  charts/ceph-csi-rbd/values.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin-provisioner.yaml
  deploy/cephfs/kubernetes/csi-cephfsplugin.yaml
  deploy/nfs/kubernetes/csi-nfsplugin-provisioner.yaml
  deploy/nfs/kubernetes/csi-nfsplugin.yaml
  deploy/rbd/kubernetes/csi-rbdplugin-provisioner.yaml
  deploy/rbd/kubernetes/csi-rbdplugin.yaml
Labels: component/build

#5509 ci: upgrade from v3.14.2 for upgrade tests
  build.env
Labels: component/testing, backport-to-release-v3.15

#5533 rbd: fix bug where volumereplication promote/demote would fail
  internal/rbd/group/util.go
  internal/rbd/group/util_test.go
  internal/rbd/rbd_util.go
  internal/rbd/rbd_util_test.go
  internal/util/csiconfig.go
  internal/util/errors.go
Labels: bug, component/rbd, backport-to-release-v3.15
