Repository ceph/ceph-csi, pull requests merged in 2025-02, with the labels that each got.

#5126 helm: Add missing RBAC for nodes to cephfs chart
  charts/ceph-csi-cephfs/templates/provisioner-clusterrole.yaml
Labels: bug, component/deployment, ci/skip/multi-arch-build, backport-to-release-v3.13

#4931 ci: e2e job for ceph-csi operator
  jobs/mini-e2e.yaml
  mini-e2e-operator.groovy
Labels: component/testing

#5123 Proper support for caching helm chart from Artifactory.
  deploy.sh
Labels: component/deployment, ci/skip/e2e, ci/skip/multi-arch-build

#5143 ci: add ceph-csi-operator image
  mirror/images.txt
Labels: component/testing

#5016 rbd: support QoS based on capacity for rbd volume
  docs/rbd/deploy.md
  e2e/rbd.go
  e2e/rbd_helper.go
  examples/rbd/storageclass.yaml
  internal/rbd/clone.go
  internal/rbd/controllerserver.go
  internal/rbd/qos.go
  internal/rbd/qos_test.go
  internal/rbd/rbd_util.go
Labels: enhancement, component/rbd

#5159 rbd: fix bug in rbdVol.Exists() in PVC-PVC clone case
  internal/rbd/rbd_journal.go
Labels: bug, component/rbd, backport-to-release-v3.13

#5138 rbd: Update return error message when delete volume failed
  internal/rbd/rbd_util.go
Labels: component/rbd, ci/retry/e2e

#5151 rbd: add validation to ToCSI() for rbdVolume and rbdSnapshot
  internal/rbd/controllerserver.go
  internal/rbd/controllerserver_test.go
  internal/rbd/snapshot.go
  internal/rbd/snapshot_test.go
Labels: bug, component/rbd, backport-to-release-v3.13

#5168 rbd: return gRPC code `Aborted` when the RBD-image is in-use on delete
  internal/rbd/controllerserver.go
Labels: component/rbd

#5149 rbd: fix encrypted PVC with metadata KMS cannot be deleted
  PendingReleaseNotes.md
  internal/kms/dummy.go
  internal/kms/secretskms.go
  internal/kms/secretskms_test.go
Labels: bug, component/rbd, backport-to-release-v3.13

#5174 rbd: set logger for the controller-runtime
  cmd/cephcsi.go
Labels: component/rbd

#5182 ci: update rook version to v1.16.4
  mirror/images.txt
Labels: component/testing
